<div class="login-page">
    <div class="container full-height">
        <div class="row align-items-center h-100">
            <div class="col-6 mx-auto">
                <div
                    class="d-flex flex-column h-100 border-primary justify-content-center align-items-center shadow bg-white rounded login-box">
                    <div class="flex-column w-75 mb-4">
                        <input id="email" type="text" class="form-control" name="email" placeholder="Email">
                    </div>

                    <div class="flex-column w-75 mb-4">
                        <input id="password" type="password" class="form-control" name="password"
                            placeholder="Password">
                    </div>
                    <div class="flex-column">
                        <button type="button" class="btn btn-primary">Log In</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>