/* You can add global styles to this file, and also import other style files */

.full-height {
  height: 100vh;
}

body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e4f5fc+0,bfe8f9+36,bfe8f9+36,9fd8ef+100,2ab0ed+100 */
  background: #e4f5fc; /* Old browsers */
  background-repeat: no-repeat;
  background: -moz-linear-gradient(
    top,
    #e4f5fc 0%,
    #bfe8f9 36%,
    #bfe8f9 36%,
    #9fd8ef 100%,
    #2ab0ed 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #e4f5fc 0%,
    #bfe8f9 36%,
    #bfe8f9 36%,
    #9fd8ef 100%,
    #2ab0ed 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #e4f5fc 0%,
    #bfe8f9 36%,
    #bfe8f9 36%,
    #9fd8ef 100%,
    #2ab0ed 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */
}
